{% extends 'base.html'%}

{% load static %}

{% block style %} <link rel="stylesheet" href={% static "/css/cards.css"%}> {% endblock %}

{% block content %}
    
    <div class="whole-wrap">
        
        <div class="container">
        <div class="section-top-border">  <br>
            <div class="row">
                <div class="col-lg-12">
                    <blockquote class="generic-blockquote">
                        <h3>{{title}}</h3>
                        “Consulte aqui qualquer tipo de resíduos de seu interesse, lembrando que para nossa plataforma promover o contato é nescessário que sua empresa está cadastrada em nossa plataforma” 
                    </blockquote>
                </div>
            </div>
            {% if messages %}
                <ul class="messages">
                {% for message in messages %}
                    <span style="color:#e91e63"><li class="{{ message.tags }}">{{ message }}</li></span>
                {% endfor %}
                </ul>
            {% endif %}
            <div class="row">
                <div class="col-lg-12">
                    {% for registro in registros %}
                    <div class="card">
                        <div class="box">
                            <div class="img">                                
                                <img src="media/{{registro.image}}"}>                                
                            </div>
                            <h2>{{registro.residuos}} <br><span>{{registro.tipo_residuos}}</span></h2>
                            <p> 
                                Resíduo {{registro.residuos}},tipos de resíduo {{registro.tipo_residuos}} com volume total de {{registro.volume_produto}}.
                            </p>
                            <span>
                                <a href="{% url 'demo_interesse' registro.id %}" class="genric-btn primary-border e-large">Demostrar Interesse</a>                                
                            </span>
                        </div>
                    </div>
                    {% endfor %}
                </div>
            </div>

        </div>
        </div>

    </div>

{% endblock %}